$headingFontFamily: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
$fontFamily: 'Arial', 'Heletica', sans-serif;
$fontColor: #000;
$backgroundColor: #fff;

$primaryNavHeight: 40px;
$secondaryNavHeight: 42px;

$yar-primary: #47758f;
$yar-secondary: lighten($yar-primary, 20%);
$nav-bgColor: $yar-primary;
$nav-color: #fff;
